.header {
  background-color: #282c3400;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
  gap: 100px;
  padding-right: 3em;
  
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

nav a:hover {
  text-decoration: underline;
}
